<div class="container center-block">
  <div class="center-heading">Contact Our Development Team</div>
  <div class="row">
    <div class="col-xs-12">
      Our extremely talented and humble development team is extremely happy to service you... extremely! Meet the members of our team below.
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4 text-right">
     <img src="http://i.imgur.com/nvSQUL3.jpg">
    </div>
    <div class="col-xs-8">
      <strong>Lead Developer</strong>
        <p>Winnie hails from Harbin, China, where rocks are toys and
        they use the air outside as a freezer. She says that growing up
        there prepared her for the world of web development. In case that's not
        Chinese enough for you, she also has been practicing Jeet Kune Do for the past
        fourteen years. Coincidentally, she says that practicing martial arts is also
        much like living in the world of web development. She can't explain exactly how; she's
        probably just at a point in her life where she can draw a parallel between web development and
        anything that ever existed.
        </p>

        <p>If you'd like to contact Winnie, please e-mail her at <a href="mailto:winnie@foliomanager.com">winnie@foliomanager.com</a>.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4 text-right">
    <img src="http://i.imgur.com/x71WJpj.jpg">
    </div>
    <div class="col-xs-8">
      <strong>Person Who Fixes Everything</strong>
        <p>Winnie's real name is Phil.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4 text-right">
    <img src="http://i.imgur.com/SuUpywv.jpg">
    </div>
    <div class="col-xs-8">
      <strong>Intern/Car Washer/Butter Churner</strong>
        <p>Winnie comes from Iowa City, Iowa, and recently ran away to the West Coast to pursue
        her dream of running away to the West Coast. She fell into our building by accident, and we never
        bothered telling her to go away. She makes herself useful; however, she has too much pride to be the coffee runner, so instead we made
        her wash cars. She also churns butter as a hobby, so now everybody gets fresh butter.</p>

        <p>If you'd like to get in touch with our awesome butter-churning intern, e-mail her at <a href="mailto:intern1@foliomanager.com">intern1@foliomanager.com</a>.</p>
    </div>
  </div>
</div>
