<div class="container center-block">
  <div class="center-heading">Contact Our Development Team</div>
  <div class="row">
    <div class="col-xs-12">
      Our extremely talented and humble development team is extremely happy to service you... extremely! Meet the members of our team below.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
    </div>
  </div>
</div>
