<div class="description">
  <p>
    Welcome to FOLIO, an online platform for sourcing, completing,
    and storing translation projects! FOLIO is an application for
    clients with translation, transcription, and graphic design projects;
    translation agencies and project managers; and translators, transcribers,
    and graphic designers looking for work.
  </p>
  </div>
  <hr>


  <p>Are you a...</p>
    <div class="row">
      <div class="col-xs-2">
        <strong>
          Client?
        </strong>
      </div>
      <div class="col-xs-10">
        <p>
          <strong>
            Clients have documents they need translated, or they have recording they need transcribed
            and/or translated.
          </strong>
        </p>
        With FOLIO, you can...
        <ul>
          <li>
            quickly find available translators or agencies with the particular qualifications you need
          </li>
          <li>
            make them an offer with the click of a button
          </li>
          <li>
            receive quick quotes for cost and turnaround time and easily compare quotes
          </li>
          <li>
            view each project as it's being worked on
          </li>
          <li>
            store all completed projects for your later reference
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <strong>
          Vendor?
        </strong>
      </div>
      <div class="col-xs-10">
        <p>
          <strong>Vendors find clients and work on projects. Vendors include translators, transcribers, translation agencies, and graphic designers.</strong>
        </p>
        With FOLIO, you can...
        <ul>
          <li>
            quickly find clients and projects that suit your needs
          </li>
          <li>
            see the profiles of the companies you're working for
          </li>
          <li>
            work with other vendors on the same project in real time (pending)
          </li>
          <li>
            receive online payment (pending)
          </li>
        </ul>
      </div>
    </div>
