<p>This is its project page.</p>
<%= @project.name %>


&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "Edit Project", edit_project_path %>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "Delete Project", project_path, method: :delete, data: { confirm: "Are you sure?"} %>
