/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Righteous");

$jumbotron-font: Righteous, monospace;

body {
  font-size: 16px;
}

.jumbotron {
  background-color: #77ecff;
  color: white;
  font-size: 3em;
  font-family: $jumbotron-font;
  margin: 0;
  padding: 15px;
}

.custom-alert {
  margin: 15px;
  background-color: #f2dede;
  color: red;
}

.custom-notice {
  margin: 15px;
  background-color: #c1fff6;
  color: green;
}

.input {
  width: 100%;
  height: 100px;
}

.greeting {
  color: white;
}

.row {
  margin: 15px;
}

.inline-nav {
  display: inline-block;
}

.description {
  margin: 0 15px;
}

.container {
  margin: 10px;
}

.center-heading {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.profile-details {
  margin-top: 10px;
}

#portrait {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
